#line1{
    color: white;
    font-size: 17px;
}
.bg-image{
  background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(pictures/1000_F_108967676_dEBShPxLo0K9gHPN4nID3YK7j3AZjNgC.jpg);
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 20px;
}
#lik{
  align-items: center;
}
.circle {
width: 50px;
height: 50px;
background-color: #E5E7E9;
border-radius: 50%;
cursor: pointer;
}
#a{

  text-decoration: none;
}
 #ab{
  display: inline;
  margin-left: 15px;
}
.tab-content .tab-pane {
  display: none;
}
.tab-content .active {
  display: block;
}
.circle2 {
  width: 40px;
  height: 40px;
  border: 1px solid  #ABB2B9 ;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
  margin-left: -40px;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.pointer {
  cursor: pointer;
}
.paragraph-padding {
  padding-top: 15px; /* Adjust as needed 
  padding-bottom: 15px; /* Adjust as needed */
}
.circle3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  list-style: none;
  margin-left: 10px; background-color: white;
  }
  .custom:active{
    color:  #117864;;
  }
 
